{% extends "acrew/base.html" %}

{% block title %} Malaria {% endblock %}

{% block css %}
header{
background: url(https://image.freepik.com/free-vector/symptoms-malaria-cartoon-style-infographic_1308-48286.jpg);
}
{% endblock %}
{% block body %}
 <div class="section-info">
      <div class="heading" style="padding-top: 40px;">
        <hr />
        <h1>Symptoms</h1>

        <hr />

      </div>
      </div>
    <div class="transbox">
      <br><dl>&rarr;Fever.</dl>
      <br><dl>&rarr;Chills.</dl>
     <br><dl>&rarr;General feeling or discomfort.</dl>
        <br><dl> &rarr;Nausea and vomiting.</dl>
        <br><dl>&rarr;Headache.</dl>
        <br><dl>&rarr;Rapid breathing.</dl>
        <br><dl>&rarr;Rapid heart rate.</dl>
        <br><dl>&rarr;Cough.</dl>
        <br><dl>&rarr;Diarrhea.</dl>
        <br><dl>&rarr;Abdominal Pain.</dl>
        <br><dl>&rarr;Muscle or joint pain.</dl>
    </div>
    <div class="section-info">
      <div class="heading" style="padding-top: 40px;">
        <hr />
        <h1>Prevention Tricks</h1>

        <hr />

      </div>
      </div>
    <div class="transbox">
      <br><dl>&rarr;Cover your skin.</dl>
      <br><dl>&rarr;Apply insect repellent to skin.</dl>
        <br><dl>&rarr;Apply repellent to clothing3dx.</dl>
        <br><dl>&rarr;Sip warm liquids.</dl>
        <br><dl>&rarr;Get to your doctor.</dl>
        <br><dl>&rarr;Take warm bath.</dl>
        <br><dl>&rarr;Wear light pajamas or clothing.</dl>
        <br><dl>&rarr;Take medicines like: Atovaquone, Chloroquine, Doxycycline, Mefloquine, Primaquine, Doxycycline.( As per your physician guidelines.).</dl>
    </div>
{% endblock %}
